/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
.cpcache
*.key

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
/lsp/
/.calva/
/.clj-kondo/
/.lsp/
/rccst
/src/clj/bh/rccst/version.clj
