{:paths     ["src/clj" "src/cljs" "resources"]

 :deps      {org.clojure/clojure                           {:mvn/version "1.10.3"}
             org.clojure/core.async                        {:mvn/version "1.5.648"}
             org.clojure/tools.logging                     {:mvn/version "1.2.4"}
             org.clojure/tools.nrepl                       {:mvn/version "0.2.13"}
             ch.qos.logback/logback-classic                {:mvn/version "1.2.11"}
             compojure/compojure                           {:mvn/version "1.7.0"}
             com.layerware/hugsql                          {:mvn/version "0.5.3"}
             com.layerware/hugsql-adapter-next-jdbc        {:mvn/version "0.5.3"}
             com.stuartsierra/component                    {:mvn/version "1.1.0"}
             com.stuartsierra/component.repl               {:mvn/version "1.0.0"}
             com.taoensso/sente                            {:mvn/version "1.16.2"}
             expound/expound                               {:mvn/version "0.9.0"}
             http-kit/http-kit                             {:mvn/version "2.5.3"}
             metosin/compojure-api                         {:mvn/version "2.0.0-alpha31"}
             metosin/ring-http-response                    {:mvn/version "0.9.3"}
             org.postgresql/postgresql                     {:mvn/version "42.3.6"}
             org.xerial/sqlite-jdbc                        {:mvn/version "3.36.0.3"}
             prismatic/schema                              {:mvn/version "1.2.1"}
             ring/ring-anti-forgery                        {:mvn/version "1.3.0"}
             ring/ring-defaults                            {:mvn/version "0.3.3"}
             ring-cors/ring-cors                           {:mvn/version "0.1.13"}
             ring/ring                                     {:mvn/version "1.9.5"}
             ring-middleware-format/ring-middleware-format {:mvn/version "0.7.5"}
             com.github.seancorfield/next.jdbc             {:mvn/version "1.2.780"}
             selmer/selmer                                 {:mvn/version "1.12.50"}

             ; clojurescript dependencies (needed by Cursive since it doesn't
             ; recognize shadow-cljs.edn)
             reagent/reagent                               {:mvn/version "1.1.1"}
             re-frame/re-frame                             {:mvn/version "1.2.0"}
             binaryage/devtools                            {:mvn/version "1.0.6"}
             cljs-ajax/cljs-ajax                           {:mvn/version "0.8.4"}
             com.taoensso/timbre                           {:mvn/version "5.2.1"}
             com.rpl/specter                               {:mvn/version "1.1.4"}
             day8.re-frame/http-fx                         {:mvn/version "0.2.4"}
             day8.re-frame/re-frame-10x                    {:mvn/version "1.3.0"}
             day8.re-frame/tracing                         {:mvn/version "0.6.2"}
             re-com/re-com                                 {:mvn/version "2.13.2"}
             org.clojars.ertucetin/re-frame-flow           {:mvn/version "0.1.4"}
             com.lucasbradstreet/cljs-uuid-utils           {:mvn/version "1.0.2"}
             aysylu/loom                                   {:mvn/version "1.0.2"}
             thheller/shadow-cljs                          {:mvn/version "2.16.12"}
             io.github.kovasap/oz                          {:git/url "https://github.com/kovasap/oz"
                                                            :git/sha "d5d490d21ea8d42740b09def2abab7c334d52520"}}
 ;:git/tag "vega-import-fix" :git/sha "4bf14e7"}}
 ;metasoarous/oz                                {:mvn/version "2.0.0-alpha5"}}


 :aliases   {:run         {:main-opts ["-m" "bh.rccst.core"]}


             ;; Test watcher using kaocha - stays open and re-runs test as necessary
             ;;
             ;; kaocha - comprehensive test runner for Clojure/Script
             ;; tests.edn should be created for each project, whi
             ;;
             ;; https://github.com/lambdaisland/kaocha
             ;;
             ;; clojure -M:test/runner
             :test/runner {:extra-paths ["test"]
                           :extra-deps  {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
                           :main-opts   ["-m" "kaocha.runner"]}


             :reveal      {:extra-deps {vlaaad/reveal {:mvn/version "1.3.273"}}
                           :ns-default vlaaad.reveal
                           :exec-fn    repl
                           :exec-args  {:always-on-top true}}


             ; updates deps.edn dependencies
             ; https://github.com/liquidz/antq
             ;
             ; to check only:       clojure -M:outdated
             ; to upgrade:          clojure -M:outdated --upgrade
             ;
             :outdated    {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}
                                        com.github.liquidz/antq      {:mvn/version "1.6.774"}}
                           :main-opts  ["-m" "antq.core"]}


             ; generate Documentation
             ; https://github.com/weavejester/codox
             ;
             ; clojure -X:codox
             ;
             :codox       {:extra-deps {codox/codox                         {:mvn/version "0.10.8"}
                                        codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                                        clojang/codox-theme                 {:mvn/version "0.2.0-SNAPSHOT"}}
                           :exec-fn    codox.main/generate-docs
                           :exec-args  {:source-paths ["src"]
                                        :output-path  "docs/api"
                                        :metadata     {:doc/format :markdown}
                                        :themes       [:rdash]}} ; :clojang


             ; Checking dependencies against National Vulnerability Database
             ; https://github.com/rm-hull/nvd-clojure
             ;
             ; things have changed in version 2.0, so it's better to install 'nvd' as a clojure.cli 'tool'
             ; via:
             ;
             ; clojure -Ttools install nvd-clojure/nvd-clojure '{:mvn/version "RELEASE"}' :as nvd
             ;
             ; and run it  via:
             ;
             ; clojure -J-Dclojure.main.report=stderr -Tnvd nvd.task/check :classpath '"'"$(clojure -Spath -A:run)"'"'
             ;
             ; be sure to put any aliases (if we develop any) in place of -A:any:aliases
             ;


             ; add a git tag to mark version "releases"
             ; see https://github.com/jgrodziski/metav#release
             ;
             ; clojure -M:release major (i.e., v1.1.3 -> v2.0.0)
             ; clojure -M:release minor (i.e., v1.1.3 -> v1.2.0)
             ; clojure -M:release patch (i.e., v1.1.3 -> v1.1.4)
             ;
             :release     {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav"
                                                     :sha     "e8bffd9b2a5c27f552eec96ad6c72ce9b5dcc372"}}
                           :main-opts  ["-m" "metav.release"
                                        "--without-sign"]}

             ;; Useage at the command line, run from the this projects directory:
             ;; clojure -T:build uber
             :build       {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                           :ns-default build}


             ; use this alias at the CLI to generate the version.clj file
             ; see https://github.com/jgrodziski/metav#spit-or-render-current-version-in-a-file
             ;
             ; clojure -M:version
             ;
             :version     {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav"
                                                     :sha     "e8bffd9b2a5c27f552eec96ad6c72ce9b5dcc372"}}
                           :main-opts  ["-m" "metav.spit"
                                        "--output-dir" "src/clj"
                                        "--namespace" "bh.rccst.version"
                                        "--formats" "clj"]}}

 ;;
 ;; Checking dependencies against National Vulnerability Database
 ;; https://github.com/rm-hull/nvd-clojure
 ;;
 ;; Clojure CLI Tool
 ;;
 ;; If you have CLI version 1.10.3.933 or later, you can also install nvd-clojure as a "tool":
 ;;
 ;;    clojure -Ttools install nvd-clojure/nvd-clojure '{:mvn/version "RELEASE"}' :as nvd
 ;;
 ;; Then you can run:
 ;;
 ;;    clojure -J-Dclojure.main.report=stderr -Tnvd nvd.task/check :classpath '"'"$(clojure -Spath -A:run)"'"'}



 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "clojars"   {:url "https://clojars.org/repo/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}}}

