{:paths     ["src/clj" "resources"]

 :deps      {org.clojure/clojure                           {:mvn/version "1.10.3"}
             org.clojure/core.async                        {:mvn/version "1.5.648"}
             org.clojure/tools.logging                     {:mvn/version "1.2.3"}
             org.clojure/tools.nrepl                       {:mvn/version "0.2.13"}
             ch.qos.logback/logback-classic                {:mvn/version "1.2.10"}
             compojure/compojure                           {:mvn/version "1.6.2"}
             com.layerware/hugsql                          {:mvn/version "0.5.1"}
             com.layerware/hugsql-adapter-next-jdbc        {:mvn/version "0.5.1"}
             com.stuartsierra/component                    {:mvn/version "1.0.0"}
             com.stuartsierra/component.repl               {:mvn/version "0.2.0"}
             com.taoensso/sente                            {:mvn/version "1.16.2"}
             http-kit/http-kit                             {:mvn/version "2.5.3"}
             metosin/compojure-api                         {:mvn/version "2.0.0-alpha31"}
             metosin/ring-http-response                    {:mvn/version "0.9.3"}
             org.postgresql/postgresql                     {:mvn/version "42.2.4"}
             org.xerial/sqlite-jdbc                        {:mvn/version "3.36.0.3"}
             prismatic/schema                              {:mvn/version "1.2.0"}
             ring/ring-anti-forgery                        {:mvn/version "1.3.0"}
             ring/ring-defaults                            {:mvn/version "0.3.3"}
             ring-cors/ring-cors                           {:mvn/version "0.1.13"}
             ring/ring                                     {:mvn/version "1.9.4"}
             ring-middleware-format/ring-middleware-format {:mvn/version "0.7.4"}
             seancorfield/next.jdbc                        {:mvn/version "1.0.12"}
             selmer/selmer                                 {:mvn/version "1.12.44"}}

 :aliases   {:run      {:main-opts ["-m" "bh.rccst.core"]}

             ; updates deps.edn dependencies
             ; https://github.com/liquidz/antq
             ; clojure -M:outdated
             :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.3.1"}}
                        :main-opts  ["-m" "antq.core"]}

             ; Checking dependencies against National Vulnerability Database
             ; https://github.com/rm-hull/nvd-clojure
             ; clojure -M:nvd
             :nvd      {:extra-deps {nvd-clojure/nvd-clojure {:mvn/version "2.0.0"}}
                        :main-opts  ["-m" "nvd.task.check"]}

             ; add a git tag to mark version "releases"
             ; see https://github.com/jgrodziski/metav#release
             ; clojure -M:release major (i.e., v1.1.3 -> v2.0.0)
             ; clojure -M:release minor (i.e., v1.1.3 -> v1.2.0)
             ; clojure -M:release patch (i.e., v1.1.3 -> v1.1.4)
             :release  {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav"
                                                  :sha     "e8bffd9b2a5c27f552eec96ad6c72ce9b5dcc372"}}
                        :main-opts  ["-m" "metav.release"
                                     "--without-sign"]}}


 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "clojars"   {:url "https://clojars.org/repo/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}}}



